#staff-list-news {
    .sln-container {
        .slncr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343D;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343D;

                .staff-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .slncr2 {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 30px;
            margin-bottom: 30px;

            .staff-tab {
                min-width: 253px;
            }
        }

        .slncr3 {
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;
        }

        .slncr4 {
            padding: 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
        }
    }
}