#staff-add-news {
    .san-container {
        .sancr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343D;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343D;

                .staff-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .sancr2 {
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            hr {
                background: #E0E6EB;
                margin: 24px 0;
            }

            .sancr2r1 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #29343D;
                }

                .group-btn {
                    button {
                        padding: 15px 20px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                        border: none;
                        border-radius: var(--border-radius-12);
                        cursor: pointer;

                        &:first-child {
                            background: #FF6692;
                            margin-right: 10px;
                        }

                        &:last-child {
                            background: #36C76C;
                            margin: 0;
                        }
                    }
                }
            }
            
            .sancr2r2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sancr2r2c1, .sancr2r2c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343D;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343D;
                    }
                }
            }

            .sancr2r3 {
                .form {
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 20px;
                }
            }
        }
    }
}