#staff-detail-news {
    .sdn-container {
        .sdncr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343d;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343d;

                .staff-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .sdncr2 {
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            hr {
                background: #e0e6eb;
                margin: 24px 0;
            }

            .sdncr2r1 {
                display: flex;
                justify-content: end;
                align-items: center;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #29343d;
                }

                .group-btn {
                    button {
                        padding: 15px 20px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                        border: none;
                        border-radius: var(--border-radius-12);
                        cursor: pointer;
                        margin-left: 20px;
                        background: #ff6692;

                        &.pr-btn { 
                            background: var(--main-color) !important;
                        }
                    }
                }
            }

            .sdncr2r2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sdncr2r2c1,
                .sdncr2r2c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343d;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343d;
                    }
                }
            }

            .sdncr2r3 {
                display: flex;
                justify-content: space-between;
                align-items: start;

                .sdncr2r3c1,
                .sdncr2r3c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343d;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343d;
                        margin-bottom: 20px;
                    }
                }

                .sdncr2r3c2 {
                    text-align: end;
                }
            }

            .sdncr2r4 {
                .image-preview-container {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
    }

    .confirm-delete-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 30px;

        h1 {
            font-size: 30px;
            font-weight: 700;
            color: #ff6304;
            margin-bottom: 30px;
        }

        .group-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            button {
                padding: 15px 20px;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                border: none;
                border-radius: var(--border-radius-12);
                cursor: pointer;

                &:first-child {
                    background: #36C76C;
                    margin-right: 10px;
                }

                &:last-child {
                    background: #FF6692;
                    margin: 0;
                }
            }
        }
    }
}