#detail-campaign {
    padding: 80px 20px;

    #dc-section {
        padding: 0 20px;

        .dcs-container {
            max-width: 1200px;
            margin: 0 auto;

            .dcscr1 {
                display: flex;

                .dcscr1c1 {
                    flex: 5;
                    margin-right: 24px;

                    .dcscr1c1r1 {
                        margin-top: 20px;
                        margin-bottom: 20px;

                        h1 {
                            color: #460d02;
                            font-size: 40px;
                            font-weight: 700;
                        }
                    }

                    .dcscr1c1r2 {
                        margin-bottom: 24px;

                        .dc-img {
                            width: 100%;
                            height: 600px;
                            background: var(--main-color);
                            border-radius: var(--border-radius-16);
                        }
                    }

                    .dcscr1c1r3 {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        margin-bottom: 30px;

                        .dcscr1c1r3-tags-item {
                            padding: 8px 25px;
                            color: #393939;
                            font-size: 20px;
                            font-weight: 600;
                            cursor: pointer;
                        }

                        .dcscr1c1r3-tags-item-actived {
                            background: #ffd088;
                            color: #dd4d02;
                            border-radius: var(--border-radius-12);
                        }
                    }

                    .dcscr1c1r4 {
                        .dcscr1c1r4-content {
                            max-width: 770px;
                            text-align: justify;
                            font-size: 20px;
                            font-weight: 500;
                            color: #7a1f0d;
                            margin-bottom: 30px;
                        }
                    }

                    .dcscr1c1r5 {
                        h3 {
                            font-size: 20px;
                            font-weight: 700;
                            color: #393939;
                            margin-bottom: 20px;
                        }

                        .input-feedback-container {
                            position: relative;
                            width: 400px;
                            display: flex;
                            align-items: center;

                            .camera-icon {
                                width: 30px;
                                padding: 7px;
                                border: 1px solid #e0e0e0;
                                border-radius: 12px;
                                background-color: #f4f4f4;
                                margin-right: 10px;
                                cursor: pointer;
                            }

                            .input-feedback {
                                box-sizing: border-box;
                                resize: none;
                                width: 100%;
                                border: 1px solid #e0e0e0;
                                border-radius: 12px;
                                background-color: #f4f4f4;
                                font-size: 14px;
                                padding: 8px 30px 8px 12px;
                                color: #393939;

                                &:focus {
                                    border: 1px solid #e0e0e0;
                                    outline: none;
                                }
                            }

                            .btn-send-feedback {
                                position: absolute;
                                padding: 0;
                                width: 20px;
                                height: 20px;
                                border: none;
                                right: 10px;
                                background: transparent;

                                .send-icon {
                                    width: 100%;
                                    height: 100%;
                                    cursor: pointer;
                                }
                            }
                        }

                        .feedback-item {
                            padding-left: 60px;
                            padding-top: 24px;

                            .ft-name {
                                font-size: 14px;
                                font-weight: 600;
                                color: #393939;
                            }

                            .ft-content {
                                font-size: 14px;
                                font-weight: 400;
                                color: #393939;
                                margin: 10px 0;
                            }

                            .ft-info {
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                gap: 16px;
                            }

                            .ft-time {
                                font-size: 12px;
                                font-weight: 400;
                                color: #6f6f6f;
                            }

                            .ft-favorite-icon {
                                width: 16px;
                                height: 16px;
                                cursor: pointer;

                                &.ft-favorite-icon-active {
                                    fill: red;
                                }
                            }
                        }
                    }
                }

                .dcscr1c2 {
                    flex: 3;

                    .dcscr1c2r3 {
                        padding: 24px;
                        border-radius: var(--border-radius-16);
                        box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.15);
                        background: #fff;

                        h3 {
                            font-size: 20px;
                            color: #460d02;
                            padding-bottom: 20px;
                            border-bottom: 3px solid #460d02;
                        }

                        .dcscr1c2r3-email {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            margin-top: 20px;
                            gap: 10px;

                            .dcscr1c2r3-icon {
                                width: 30px;
                                height: 30px;
                                fill: var(--main-color);
                            }

                            .email {
                                font-size: 16px;
                                font-weight: 500;
                                color: #393939;
                            }
                        }

                        .dcscr1c2r3-info {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            margin-top: 20px;

                            .dcscr1c2r3-info-c1 {
                                .dcscr1c2r3-info-avatar {
                                    width:60px;
                                    height:60px;
                                    margin-right: 20px;
                                }
                            }

                            .dcscr1c2r3-info-c2 {
                                .name {
                                    font-size: 17px;
                                    font-weight: 600;
                                    color: var(--main-color);
                                    margin-bottom: 10px;
                                }

                                .tag {
                                    padding: 5px 10px;
                                    border-radius: var(--border-radius-16);
                                    background-color: var(--main-color);
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    .dcscr1c2r1 {
                        display: grid;
                        padding: 24px;
                        border-radius: var(--border-radius-16);
                        box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.15);
                        margin-top: 55px;
                        margin-bottom: 32px;
                        background: #fff;

                        h4 {
                            font-size: 16px;
                            font-weight: 500;
                            color: #f97107;
                            margin-bottom: 5px;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 700;
                            color: #460d02;
                            margin-bottom: 10px;
                        }

                        .sc-btn {
                            position: relative;
                            background: linear-gradient(#ff6c57, #ff922e);
                            color: #fff;
                            font-size: 18px;
                            font-weight: 800;
                            border: none;
                            border-radius: 12px;
                            margin: 0 auto;
                            margin-top: 20px;
                            padding: 12px 20px;
                            cursor: pointer;
                            overflow: hidden;
                            z-index: 1;
                            transition: box-shadow 0.3s ease-in-out;
            
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 50%;
                                width: 0;
                                height: 100%;
                                background-color: #ff922e;
                                transition: width 0.4s ease, left 0.4s ease;
                                z-index: -1;
                            }
            
                            &:hover {
                                box-shadow: 0 0 10px 4px rgba(255, 157, 46, 0.7); // Hiệu ứng hào quang xung quanh
                            }
            
                            &:hover::before {
                                width: 100%;
                                left: 0;
                            }
                        }
                    }

                    .dcscr1c2r2 {
                        padding: 24px;
                        border-radius: var(--border-radius-16);
                        box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.15);
                        background: #fff;

                        .dcscr1c2r2-lists {
                            max-height: 500px;
                            overflow-y: scroll;

                            &::-webkit-scrollbar {
                                display: none;
                            }
                        }

                        h3 {
                            font-size: 17px;
                            font-weight: 700;
                            color: #460d02;
                            margin-bottom: 20px;
                        }

                        .have-no-register {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: start;
                            gap: 20px;

                            .hnr-icon {
                                width: 200px;
                                height: 200px;
                                fill: #f97107;
                            }

                            h1 {
                                color: #f97107;
                            }
                        }
                    }
                }
            }

            .line {
                width: 100%;
                height: 8px;
                background: #f4f4f4;
                margin: 50px 0;
            }

            .dcscr2 {
                .dcscr2r1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 30px;

                    h2 {
                        font-size: 35px;
                        font-weight: 700;
                        color: #460d02;
                        margin: 0;
                    }

                    a {
                        text-decoration: none;
                        font-size: 25px;
                        font-weight: 600;
                        color: var(--main-color);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .dcscr2r2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 24px;
                }
            }
        }
    }
}
