#campaigns {
    padding: 80px 20px;

    #campains-section {
        padding: 0 20px;

        .cs-container {
            max-width: 1200px;
            margin: 0 auto;

            .cscr1 {
                text-align: center;

                h1 {
                    font-size: 30px;
                    font-weight: 800;
                    color: var(--main-color);
                    margin-bottom: 32px;
                }

                .cs-tabs {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;

                    .cs-tab {
                        position: relative;
                        padding: 15px 22px;
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--main-gray);
                        cursor: pointer;
                        transition: color 0.3s ease;

                        &.cs-tab-active {
                            color: var(--main-color);

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 3px;
                                background-color: var(--main-color);
                                transition: width 0.3s ease, left 0.3s ease;
                            }
                        }
                    }
                }
            }

            .cscr2 {
                text-align: center;

                .cscr2r1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 60px;
                    margin-bottom: 20px;

                    .cscr2r1r1 {
                        flex: 1;

                        margin-bottom: 16px;
                    }

                    .cscr2r1r3 {
                        flex: 3;
                        .date-filter-container {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 20px;
                        }
                    }

                    .cscr2r1r2 {
                        flex: 3;
                        display: flex;
                        justify-content: start;
                        margin-bottom: 16px;
                    }

                    .campaign-search-container {
                        width: 100%;
                        position: relative;

                        .campaign-search-input {
                            width: 100%;
                            padding-right: 80px;
                        }

                        .campaign-search-icon {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            bottom: 15px;
                            right: 10px;
                            cursor: pointer;
                        }
                    }
                }

                .cscr2r2-list {
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;
                    gap: 20px;
                    margin-bottom: 50px;
                }
            }
        }
    }
}