#admin-staff-post {
    .asp-container {
        .aspcr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343D;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343D;

                .admin-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .aspcr2 {
            max-height: 700px;
            overflow-y: auto;
            background: #fff;
            border-radius: var(--border-radius-12);
            padding: 0 80px;

            &::-webkit-scrollbar {
                display: none;
            }

            .post-container {
                margin: 30px 0;

                .reject-btn, .approve-btn {
                    padding: 8px 60px;
                }
            }
        }
    }
}