#staff-detail-campaign-user {
    .sdcu-container {
        h2 {
            font-size: 30px;
            font-weight: 700;
            color: #ff9d2e;
            margin-bottom: 20px;
        }

        .sdcucr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343d;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343d;

                .staff-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .sdcucr2 {
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            hr {
                background: #e0e6eb;
                margin: 24px 0;
            }

            .sdcucr2r1 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #29343d;
                }

                .group-btn {
                    button {
                        padding: 15px 20px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                        border: none;
                        border-radius: var(--border-radius-12);
                        cursor: pointer;
                        background: #ff6692;
                    }
                }
            }

            .sdcucr2r2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sdcucr2r2c1,
                .sdcucr2r2c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343d;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343d;
                    }
                }

                .sdcucr2r2c2 {
                    text-align: end;
                }
            }

            .sdcucr2r3 {
                display: flex;
                justify-content: space-between;
                align-items: start;

                .sdcucr2r3c1, .sdcucr2r3c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343d;
                        margin-bottom: 10px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343d;
                        margin-bottom: 20px;
                    }
                }

                .sdcucr2r3c2 {
                    text-align: end;
                }
            }

            .sdcucr2r4 {
                display: flex;
                justify-content: start;
                align-items: start;
                margin-bottom: 30px;
            }

            .sdcucr2r5 {
                p {
                    margin: 10px 15px;
                }
            }
        }
    }
}
