#landing {
    background-color: #fff7eb;

    h2 {
        font-size: 40px;
        font-weight: 700;
        color: #460d02;
        text-align: center;
        margin-bottom: 30px;
    }

    .view-all {
        color: #dd4d02;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    #landing-s2 {
        h3 {
            font-size: 35px;
            font-weight: 600;
            color: #94250c;
        }

        .ls2cr2 {
            margin-bottom: 32px;
        }

        .ls2cr2r1,
        .ls2cr3r1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            border-radius: var(--border-radius-16);
            background: #ffb34a;
            margin-bottom: 30px;
        }

        .ls2cr2r2,
        .ls2cr3r2 {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
            gap: 24px;
        }
    }

    #landing-s3 {
        background: #ffd088;

        h2 {
            margin-bottom: 40px;
        }

        .ls3r1 {
            display: flex;
            align-items: center;
            justify-content: center;

            .ls3r1c1,
            .ls3r1c2 {
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .ls3r1c2 {
                display: flex;
                gap: 60px;
                flex-wrap: wrap;
                margin-left: 20px;

                .ls3r1c2-item {
                    .ls3r1c2-item-icon {
                        width: 40px;
                        height: 40px;
                        fill: #7a1f0d;
                    }

                    .ls3r1c2-item-title {
                        color: #7a1f0d;
                        font-size: 30px;
                        font-weight: 700;
                        margin-left: 10px;
                    }

                    .ls3r1c2-item-quantity {
                        color: #a52607;
                        font-size: 35px;
                        font-weight: 700;
                        padding-left: 55px;

                        span {
                            font-size: 28px;
                            font-weight: 600;
                            color: #ff6304;
                        }
                    }
                }
            }
        }
    }

    #landing-s4 {
        background-image: url("@/assets/images/ls4.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .ls4cr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 36px;

            h2,
            a {
                color: var(--white-color);
                margin: 0;
            }

            a {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
            }
        }

        .ls4cr2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }
    }

    #landing-s5 {
        .ls5cr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            padding: 10px 20px;
            border-radius: var(--border-radius-16);
            background: #ffb34a;

            h2 {
                margin: 0;
            }
        }

        .ls5cr2 {
            display: flex;
            justify-content: center;
            gap: 40px;
            background: #ffd088;
            border: none;
            border-radius: var(--border-radius-24);
            padding: 32px;

            .ls5cr2c1,
            .ls5cr2c2 {
                flex: 1;
            }
        }
    }
}
