$button-width: 120px;
$button-height: 32px;
$border-radius: 12px;
$gradient-start: #ff6c57;
$gradient-end: #ff922e;
$new-color: #ff9d2e; // Màu mới xuất hiện khi hover
$glow-color: rgba(255, 157, 46, 0.7); // Màu hào quang

#header-landing {
    padding: 15px 20px;
    border-bottom: 1px solid var(--main-gray);

    .hl-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hlcc1 {
            img {
                width: 230px;
                height: 70px;
            }
        }

        .hlcc2 {
            .nav-list {
                display: flex;
                align-items: center;

                .nav-item {
                    position: relative;
                    list-style: none;
                    padding: 0 20px;
                    cursor: pointer;

                    .nav-link {
                        font-style: 14px;
                        font-weight: 500;
                        color: #626262;
                        cursor: pointer;

                        &.nav-link-active {
                            color: var(--main-color);
                            font-size: 18px;
                            font-weight: 700;
                            transition: all 0.2s ease-in-out;
                        }

                        &:not(.nav-link-active):hover {
                            color: var(--main-color);
                            font-size: 16px;
                            transition: all 0.2s ease-in-out;
                        }
                    }

                    .sub-menu {
                        position: absolute;
                        z-index: 1;
                        min-width: 160px;
                        top: 100%;
                        left: 0;
                        background: white;
                        border: 1px solid var(--main-color);
                        border-radius: var(--border-radius-12);
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        .sub-item-active {
                            color: var(--main-color);
                            font-size: 16px;
                            transition: all 0.2s ease-in-out;
                        }

                        .sub-item {
                            margin: 0;
                            padding: 10px 20px;
                            cursor: pointer;

                            span,
                            a {
                                text-align: start;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 600;
                                color: #7a1f0d;
                                cursor: pointer;
                                transition: all 0.2s ease-in-out;
                            }

                            &:hover {
                                background: #ffb34a;
                                border-radius: 12px;

                                span,
                                a {
                                    font-size: 16px;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }

        .hlcc3 {
            position: relative;
            display: flex;
            align-items: center;

            .name {
                width: 100px;
                margin: 0 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .menu-icon,
            .notification-icon {
                cursor: pointer;
            }

            .sc-btn {
                position: relative;
                width: $button-width;
                height: $button-height;
                background: linear-gradient($gradient-start, $gradient-end);
                color: var(--white-color);
                font-size: 14px;
                font-weight: 800;
                border: none;
                border-radius: $border-radius;
                margin-right: 20px;
                cursor: pointer;
                overflow: hidden;
                z-index: 1;
                transition: box-shadow 0.3s ease-in-out;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 0;
                    height: 100%;
                    background-color: $new-color;
                    transition: width 0.4s ease, left 0.4s ease;
                    z-index: -1;
                }

                &:hover {
                    box-shadow: 0 0 10px 4px $glow-color; // Hiệu ứng hào quang xung quanh
                }

                &:hover::before {
                    width: 100%;
                    left: 0;
                }
            }

            .pr-btn {
                position: relative;
                width: $button-width;
                height: $button-height;
                background: $new-color;
                color: var(--white-color);
                font-size: 14px;
                font-weight: 800;
                border: none;
                border-radius: $border-radius;
                margin-right: 20px;
                cursor: pointer;
                overflow: hidden;
                z-index: 1;
                transition: box-shadow 0.3s ease-in-out;
                padding: 0;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 0;
                    height: 100%;
                    background-color: linear-gradient($gradient-start, $gradient-end);
                    transition: width 0.4s ease, left 0.4s ease;
                    z-index: -1;
                }

                &:hover {
                    box-shadow: 0 0 10px 4px $glow-color; // Hiệu ứng hào quang xung quanh
                }

                &:hover::before {
                    width: 100%;
                    left: 0;
                }
            }

            a {
                color: var(--sc-black);
                font-size: 14px;
                font-weight: 800;
                text-decoration: none;
                margin: 0 10px;
                display: flex;
                align-items: center;
                gap: 5px;

                .manage-icon {
                    width: 25px;
                    height: 25px;
                }

                &:hover {
                    color: #ff922e;
                    transition: all 0.2s ease-in-out;
                }
            }

            .note {
                color: red;
                margin-right: 20px;
            }

            .sub-menu-profile {
                position: absolute;
                z-index: 1;
                width: 200px;
                top: 150%;
                left: 50%;
                background: #fff;
                border-radius: var(--border-radius-16);
                box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.15);

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                        border-bottom: 1px solid #eeeeee;
                        padding: 8px 24px;
                        cursor: pointer;

                        &:hover {
                            background: #e9ecef;

                            a {
                                color: #f54a00;
                            }
                        }

                        a {
                            font-size: 14px;
                            font-weight: 400;
                            color: #393939;
                        }
                    }

                    li:last-child {
                        border: none;
                        border-radius: 0 0 var(--border-radius-16) var(--border-radius-16);
                    }

                    li:first-child {
                        border-radius: var(--border-radius-16) var(--border-radius-16) 0 0;
                    }
                }
            }
        }
    }
}