#staff-add-campaign-staff {
    .sacs-container {
        .sacscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343D;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343D;

                .staff-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .sacscr2 {
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            hr {
                background: #E0E6EB;
                margin: 24px 0;
            }

            .sacscr2r1 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #29343D;
                }

                .group-btn {
                    display: flex;
                    gap: 20px;

                    button {
                        padding: 15px 20px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                        border: none;
                        border-radius: var(--border-radius-12);
                        cursor: pointer;

                        &:first-child {
                            background: #FF6692;
                        }

                        &:last-child {
                            background: #36C76C;
                            margin: 0;
                        }
                    }

                    .pr-btn {
                        width: fit-content;
                        padding: 15px 20px;
                        color: var(--white-color);
                        font-size: 14px;
                        font-weight: 800;
                        border: none;
                        border-radius: var(--border-radius-12);
                        cursor: pointer;
                    }
                }
            }
            
            .sacscr2r2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sacscr2r2c1, .sacscr2r2c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343D;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343D;
                    }
                }
            }

            .sacscr2r3 {
                .form {
                    .ccm-form-r1, .ccm-form-r2, .ccm-form-r3 {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 20px;
                    }

                    .form-input:focus {
                        outline: none;
                        border: 1px solid #FF6692;
                    }
                }
            }
        }
    }
}