.account-permission-modal {
    width: 900px;

    .title {
        font-size: 30px;
        font-weight: 700;
        color: #f97107;
        text-align: center;
        margin-bottom: 30px;
    }

    .permissions-section {
        margin-bottom: 30px;

        h3 {
            font-size: 25px;
            font-weight: 600;
            color: #ff9d2e;
        }

        ul {
            li {
                font-size: 22px;
                font-weight: 500;
                margin-left: 20px;
            }
        }
    }

    .footer {
        text-align: center;
    }

    .pr-btn {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        padding: 10px 20px;
        border-radius: 24px;
    }
}