#remind-certificate-modal {
    padding: 0 30px;

    .rcm-container {
        text-align: center;

        h1 {
            font-size: 30px;
            font-weight: 800;
            color: #272d4e;
            margin-bottom: 40px;
        }

        .sc-btn {
            padding: 15px 30px;
        }
    }
}