#admin-dashboard {
    max-width: 100%;
    overflow-y: auto;

    .ad-container {

        .adcr1c1,
        .adcr1c3,
        .adcr2c1,
        .adcr3 {
            padding: 30px;
            margin: 0 15px;
            border-radius: 12px;
            background: #fff;
            box-shadow: 0 2px 4px -1px #afb6c933 !important;
        }

        .adcr3-card {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            margin: 0 15px;
            border-radius: 12px;
            box-shadow: 0 2px 4px -1px #afb6c933 !important;

            .adcr3-card-img {
                padding: 9px 11px;
                border-radius: var(--border-radius-12);
                margin-bottom: 20px;

                .adcr3-card-icon {
                    width: 27px;
                    height: 27px;
                    fill: #fff
                }
            }

            &.adcr3-card-1 {
                background: linear-gradient(to bottom, #ff9d2ed2 0%, #ffe3c2 40%, #fff8f0 100%);

                .adcr3-card-img-1 {
                    background: var(--main-color);
                }
            }

            &.adcr3-card-2 {
                background: linear-gradient(to bottom,
                        #36C76C 0%,
                        #67D69B 30%,
                        #A8E6C5 60%,
                        #E5F7EC 100%);

                .adcr3-card-img-2 {
                    background: #36C76C;
                }
            }

            &.adcr3-card-3 {
                background: linear-gradient(to bottom,
                        #f7d566 0%,
                        #ffdc69 30%,
                        #FFE899 60%,
                        #FFF5D1 100%);

                .adcr3-card-img-3 {
                    background: #F8C20A;
                }
            }

            &.adcr3-card-4 {
                background: linear-gradient(to bottom,
                        #FF6692 0%,
                        #FF99B5 30%,
                        #FFC9DA 60%,
                        #FFE5ED 100%);

                .adcr3-card-img-4 {
                    background: #FF6692;
                }
            }

            .adcr3-card-title {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .adcr3-card-quantity {
                font-size: 22px;
                font-weight: 700;
            }
        }

        .adcr1,
        .adcr2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .adcr1 {
            margin-bottom: 30px;
        }

        .adcr1 {
            .adcr1c2,
            .adcr1c3 {
                padding: 24px;
                height: 330px;
            }

            .adcr1c2 {
                flex: 2;
            }

            .adcr1c1 {
                flex: 5;
                height: 400px;

                .adcr1c1r1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 60px;

                    .adcr1c1r1c1 {
                        h3 {
                            font-size: 18px;
                            font-weight: 700;
                            color: var(--main-color);
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 500;
                            color: #526b7a;
                        }
                    }

                    .adcr1c1r1c2 {
                        select {
                            width: 80px;
                            padding: 5px 10px;
                            appearance: none;
                            cursor: pointer;
                        }
                    }
                }

                .adcr1c1r2 {
                    height: 200px;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    gap: 20px;

                    .item-container {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        &.active {
                            .item {
                                background: var(--main-color);
                                opacity: 1;
                            }
                        }

                        &:hover {
                            .tooltip {
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        .tooltip {
                            visibility: hidden;
                            position: absolute;
                            bottom: 100%; // Đặt tooltip phía trên item
                            left: 50%;
                            transform: translateX(-50%);
                            background-color: rgba(0, 0, 0, 0.7);
                            color: #fff;
                            padding: 5px;
                            border-radius: 5px;
                            font-size: 12px;
                            white-space: nowrap;
                            opacity: 0;
                            transition: opacity 0.3s ease;
                        }
                    }

                    .item {
                        width: 30px;
                        max-height: 200px;
                        background: var(--main-color);
                        opacity: 0.4;
                        cursor: pointer;
                        transition: height 0.3s ease;
                        border-radius: 8px;
                        /* Thêm hiệu ứng mượt mà khi chiều cao thay đổi */
                    }
                }
            }
        }

        .adcr2 {

            .adcr2c1,
            .adcr2c2 {
                padding: 24px;
            }

            .adcr2c1 {
                flex: 5;
                h3 {
                    color: var(--main-color);
                    margin-bottom: 30px;
                }
            }

            .adcr2c2 {
                flex: 2;
            }
        }

        .adcr3 {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}