#admin-detail-news {
    .adn-container {
        .adncr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343d;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343d;

                .admin-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .adncr2 {
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            hr {
                background: #e0e6eb;
                margin: 24px 0;
            }

            .adncr2r1 {
                display: flex;
                justify-content: end;
                align-items: center;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #29343d;
                }

                .group-btn {
                    button {
                        padding: 15px 20px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                        border: none;
                        border-radius: var(--border-radius-12);
                        cursor: pointer;
                        margin-left: 20px;
                        background: #ff6692;

                        &:last-child {
                            background: #36C76C !important;
                        }
                    }
                }
            }

            .adncr2r2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .adncr2r2c1,
                .adncr2r2c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343d;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343d;
                    }
                }
            }

            .adncr2r3 {
                display: flex;
                justify-content: space-between;
                align-items: start;

                .adncr2r3c1,
                .adncr2r3c2 {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #29343d;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: #29343d;
                        margin-bottom: 20px;
                    }
                }

                .adncr2r3c2 {
                    text-align: end;
                }
            }

            .adncr2r4 {
                .image-preview-container {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
    }
}
