#admin-list-campaign-donor {
    .alcd-container {
        .alcdcr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
            margin-bottom: 30px;

            h1 {
                font-size: 18px;
                font-weight: 700;
                color: #29343D;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #29343D;

                .admin-tag {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 10px 15px;
                    background: rgba(255, 157, 46, 0.1);
                    border-radius: var(--border-radius-12);
                    margin-left: 10px;
                }
            }
        }

        .alcdcr2 {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 30px;
            margin-bottom: 30px;
        }

        .alcdcr3, .alcdcr4 {
            padding: 30px;
            background: #fff;
            border-radius: var(--border-radius-12);
        }

        .alcdcr4 {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            gap: 20px;

            .alcdcr4c1, .alcdcr4c2, .alcdcr4c3 {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: start;

                label {
                    font-size: 16px;
                    font-weight: 600;
                }

                .pr-input {
                    width: 100%;
                }

                select {
                    appearance: none;
                    cursor: pointer;
                }
            }

            .alcdcr4c3 {
                flex: 2;

                .group-input {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}