.campaign-card {
    cursor: pointer;
    padding: 20px;
    background: #ffb34a;
    border-radius: var(--border-radius-16);
    max-width: 384px;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
        margin-top: -5px;
    }

    .img-container {
        position: relative;
        width: 344px;
        height: 344px;
        overflow: hidden; /* Đảm bảo mọi thứ nằm trong khung ảnh */
        border-radius: var(--border-radius-16);
    
        .campaign-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--border-radius-16);
        }
    
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20%;
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(100%);
            transition: transform 0.4s ease;
            border-radius: var(--border-radius-16);
        }
    }      
    
    &:hover .overlay {
        transform: translateY(0);
    }

    .overlay span {
        color: var(--main-color);
        font-size: 30px;
        font-weight: 700;
        opacity: 1;
    }

    h4,
    p {
        text-align: start;
        margin-left: 16px;
    }

    h4 {
        font-size: 25px;
        font-weight: 800;
        color: #460d02;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 15px;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        margin: 5px 0 0 16px;
        color: #94250c;
    }

    .cc-status {
        font-weight: bold;
        margin-top: 8px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 16px;
        width: fit-content;

        &.ended {
            color: #FF6692;
            background-color: #f2dede;
            border: 1px solid #ebccd1;
        }

        &.ongoing {
            color: #36C76C;
            background-color: #dff0d8;
            border: 1px solid #d6e9c6;
        }

        &.upcoming {
            color: #f2ba05;
            background-color: #fcf8e3;
            border: 1px solid #faebcc;
        }
    }
}