#staff-header {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 1;
    transform: translateY(0%);
    padding: 15px;
    background: #fff;
    box-sizing: border-box;

    &.sh-collapsed {
        width: calc(100% - 256px);
        transition: all 0.3s ease-in-out;
    }

    &.sh-expanded {
        width: calc(100% - 80px);
        transition: all 0.3s ease-in-out;
    }

    .sh-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .shcc1 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .sh-icon {
            width: 20px;
            height: 20px;
            padding: 10px;
            margin: 0 3px;
            cursor: pointer;

            &:hover {
                background-color: rgba(99, 91, 255, 0.1);
                border-radius: 50%;
            }
        }

        .notification-wrapper {
            .notification-dropdown {
                transform: translateX(-90%);
            }
        }
    }
}
